<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>lowestshipping</name>
	<displayName><![CDATA[Lowest shipping cost]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[The module displays the lowest possible delivery cost for this product on the product card, taking into account as many conditions as possible that may occur in PrestaShop.]]></description>
	<author><![CDATA[Maxsoft]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
